h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    flex: 50%;
}

.column h3{
    text-align: center;
}
