.hotelName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
}

h1 {
    padding-left: 0.4em;
}

img {
    padding-right: 0.4em;;
}

.container {
    margin-bottom: 1em;
}