.contactContainer{

}

.contactTexts{

    font-size: 1.2em;


}


.contactHeader{
    font-weight: bold;
    font-size: 1.5em;
    color: #1B75BC;
    margin-bottom: 0.5em;
    margin-top: 0.5em;


}

.contactParagraph{

    color: black;
    margin-bottom:2em;

}

.contactForm{



}

.contactInputLabel{
    font-size: 1.1em;
}